h4{
  color: #fff;
}
.room-header{
  margin-top: 1em;
}
.userList{
  color: #fff;
  font-size: medium;
  font-family: sans-serif;
  text-transform: capitalize;
  list-style: none;
}
.quizBoard{
  min-height: 100vh;
}
.question{
  margin: 2em 0;
  .btn-primary{
    color: #fff;
    cursor: pointer;
  }
}
