<div class="container">
    <h1 class="room-header">Channel name: {{room}}</h1>
    <div class="row">
        <div [ngClass]="isAdmin ? 'quizBoard col-md-8 col-sm-8' : ' quizBoard col-md-12 col-sm-12'">
            <div class="card question" *ngIf="!questions && isAdmin">
                <div class="card-header">
                    Add Questions:
                </div>
                <div class="card-body">
                    <input type="file" placeholder="Add JSON file" (change)="onQuestionUpload($event)"
                           class="form-control-file"/>
                </div>
            </div>
            <div class="card question" *ngFor="let question of questions">
                <div class="card-header">
                    {{question.qes}}
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let answer of question.ans">{{answer.answer}}</li>
                </ul>
                <button class="btn btn-primary" (click)="sendQuestion(question.id)" [disabled]="question.sentAlready">Send this Question</button>
            </div>
            <div class="card question" *ngIf="!isAdmin && question">
                <div class="card-header">
                    {{question.question}}
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" *ngFor="let ans of question.answers">{{ans.answer}} <button class="btn btn-success float-right" (click)="submitAnswer(ans.id, question.id)">select</button></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4" *ngIf="isAdmin">
            <div class="card question">
                <div class="card-header">
                    Participants
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let user of users">{{user.name}} - {{user.score}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
