<div class="container align-vertical-center {
">
  <div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Quiz</h2>
      </div>
      <div class="card-body">
        Here you can start a quiz with four options or join in a existing interactive Quiz channel
      </div>
      <div class="card-footer">
        <button routerLink="/home" class="btn btn-success col">Go to QuizBoard</button>
      </div>
    </div>
  </div>
    <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <h2>Retro Board</h2>
      </div>
      <div class="card-body">
        Here you can start a Retrospective board with your team start creating points in digital sticky
      </div>
      <div class="card-footer">
        <button routerLink="/retro" class="btn btn-success col">Go to Retro board</button>
      </div>
    </div>
  </div>
  </div>
</div>
