<div class="retro-wrapper">
    <h2>Welcome to Retro Board</h2>
    <div class="scroll-wrapper" *ngIf="connected">
        <div *ngFor="let column of columns" class="column">
            <span class="remove" *ngIf="isAdmin" (click)="removeColumn(column)">X</span>
            <span class="title">{{column}}</span>
        </div>
        <div class="column" (click)="showAddButton()" *ngIf="isAdmin">
            <input type="text" class="form-control mb-2" placeholder="Column name" [(ngModel)]="columnName"
                   (keyup.enter)="addColumn($event)" *ngIf="enableAdd">
        </div>
    </div>
    <div class="modal-backdrop fade show" *ngIf="!connected"></div>
    <div class="modal" tabindex="-1" role="dialog" *ngIf="!connected">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Board</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Retro Name" class="form-control mb-3" [(ngModel)]="channelName">
                    <input type="text" placeholder="Name" class="form-control" [(ngModel)]="name">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary col" (click)="create()">Create</button>
                </div>
            </div>
        </div>
    </div>
</div>
