<div class="retro-wrapper">
    <div class="scroll-wrapper" *ngIf="action === 'join'" cdkDropListGroup>
        <mat-card class="col-md-3 ml-2" *ngFor="let column of columns; index as i">
            <mat-card-header>
                <!--  <span class="remove" *ngIf="isAdmin" (click)="removeColumn(column)">X</span>-->
                <span class="mat-display-1 title col">{{column.name}}</span>
                <span matBadge="X" matBadgeOverlap="true" style=" margin-right: 10px;margin-top: 10px;display: block;width: 10px;height: 10px;cursor: pointer" (click)="removeColumn(column.name)"></span>
            </mat-card-header>

            <mat-card-content cdkDropList [cdkDropListData]="column.cards" (cdkDropListDropped)="drop($event)" style="min-height: 15em;background: #8e8e8e1a;
    padding: 1em;
    border-radius: 4px">
                <mat-card class="col mb-2" *ngFor="let card of column.cards; index as i" cdkDrag
                          id="{{column.name}}-card-{{i}}" [cdkDragData]="card">
                    <mat-card-content>
                        {{card}}
                    </mat-card-content>
                </mat-card>
            </mat-card-content>
            <mat-card-footer>
                <mat-form-field class="col" [formGroup]="createCardForm">
                    <textarea type="text" matInput [(ngModel)]="card" (keyup.enter)="addCard(column.name)"
                              *ngIf="showAddCard" formControlName="card"></textarea>
                </mat-form-field>
            </mat-card-footer>
        </mat-card>
        <mat-card class="col-md-3 ml-2" *ngIf="isAdmin" (click)="showAddButton()">
            <mat-form-field class="col">
                <input matInput placeholder="Column name" [(ngModel)]="columnName" (keyup.enter)="addColumn($event)">
            </mat-form-field>
        </mat-card>
    </div>
    <div class="modal" *ngIf="action === 'create'">
        <mat-card class="col-md-4 offset-4">
            <mat-card-header>
                <mat-card-title>
                    Create Board
                </mat-card-title>
            </mat-card-header>
            <mat-card-content [formGroup]="createForm">
                <mat-form-field class="col">
                    <input matInput placeholder="Retro Name" [(ngModel)]="channelName" formControlName="retroName">
                </mat-form-field>
                <mat-form-field class="col">
                    <input matInput placeholder="Name" [(ngModel)]="name" formControlName="name">
                </mat-form-field>
            </mat-card-content>
            <mat-card-footer>
                <button mat-button (click)="create()" class="col">Create</button>
            </mat-card-footer>
        </mat-card>
    </div>
    <div class="modal" tabindex="-1" role="dialog" *ngIf="action === 'join' && channelName && !connected">
        <mat-card class="col-md-4 offset-4">
            <mat-card-header>
                <mat-card-title>
                    Join Board
                </mat-card-title>
            </mat-card-header>
            <mat-card-content [formGroup]="joinForm">
                <mat-form-field class="col">
                    <input matInput placeholder="Name" [(ngModel)]="name" formControlName="name">
                </mat-form-field>
            </mat-card-content>
            <mat-card-footer>
                <button mat-button (click)="join()" class="col">Join</button>
            </mat-card-footer>
        </mat-card>

    </div>
</div>
